server:
  port: 8080
  servlet:
    context-path: /smallcase-core

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smallcase
    username: postgres

  jpa:
    show-sql: true
    properties: ## Hibernate Properties # The SQL dialect makes Hibernate generate better SQL for the chosen database
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # Hibernate ddl auto (create, create-drop, validate, update)
