<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Properties>
        <Property name="log-path">/var/log/java-api-logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [RID-%X{id}] [%X{api}] [TID-%tid] %c{1} %M - %msg%n"/>
        </Console>
        <RollingFile name="info-log" fileName="${log-path}/dev-info.log"
             filePattern="${log-path}/dev-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [RID-%X{id}] [%X{api}] [TID-%tid] %c{1} %M - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="error-log" fileName="${log-path}/dev-error.log"
             filePattern="${log-path}/dev-listing-error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [RID-%X{id}] [%X{api}] [TID-%tid] %c{1} %M - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
            <appender-ref ref="info-log" level="info"/>
        </Root>
    </Loggers>
</Configuration>